table{
  border-collapse: collapse;
    border: 2px solid #333;
    margin: 20px auto;
}

td{
    height: 50px;
    width: 50px;
}

#white{
    background-color: white;
}
#black{
    background-color: black;
}
